.gallery {
  max-width: 600px;
  margin: 0 auto;
  padding: 6px;
  text-align: center;
}

.gallery .gallery-image img {
  max-width: 100%;
  height: auto;
  position: relative;
}

.gallery-image div a {
  position: absolute;
  font-family: "Segoe UI";
  font-size:14px;
  color: #bbb;
  font-weight: bold;
}

#leftbut {
  left: 60px;
  top: 80px;
  transform: scale(1,4);
}

#rightbut {
  right: 60px;
  top: 80px;
  transform: scale(1,4);
}

.gallery .gallery-image-label {
  color: #777;
}

a:hover { text-decoration: none;
}
