
* {box-sizing: border-box}

body {font-family: Verdana, sans-serif; margin:0}
header { height: 70px; background-color: #ed2e31; color: white;}
header img {position: relative; float: left; padding-left: 10px;}
header .menu { float: left; padding-top: 40px;}
header .menu li{display: inline; float: left; 
  font-size: 14px; margin-right: 0px;color: white}

header .menu a{display: block; color: white; text-decoration: none;
  padding: 4px 15px}

header .login a{float: right; display: block; color: white; text-decoration: none;
    padding: 4px 15px}

label.labelblock input {position: relative;}
#username, #password {width: 15em;}
#loginForm {padding-left: 20%;padding-right: 20%;}
#loginForm h1 {color: red;}
#registerForm h1 {color: red;}
form span {color:red;}
.col-sm-5 img {border: 1px solid dimgray;}
#registerForm {width: 800px; padding-left: 20%;}

.news {padding-left: 20%;padding-right: 20%;}

.cart {display: flex;}
.table .tr:first-child {
  display: flex;
  text-align: center;
}

.table .tr {
  height: 40px;
  line-height: 40px;
  background: #e9e9e9;
  border-bottom: none;
}

